<% include partials/header %>


<div class="ui main text container">
    <div class="ui huge header">Homepage</div>
        <div class="ui divided items segment">
                
                    <% blogs.forEach(function(blog) { %>
                        <div class="item">
                        <a class="image" href="/blogs/<%= blog._id%>" >
                            <img class="image_cover" src="<%= blog.image %>" alt="<%= blog.title + " image "%>">
                        </a>
                        <div class="content">
                            <a class="header" href="/blogs/<%= blog._id%>"><%= blog.title %></a>
                            <div class="meta">
                                <span><%= blog.created.toDateString()%></span>
                            </div>
                            <div class="description">
                                <p><%- blog.body.substring(0,100) %> ...</p>
                            </div>
                            <div class="extra">
                                <a class="ui right floated positive button small" href="/blogs/<%= blog._id%>">
                                  Read More
                                  <i class="right chevron icon deafaullted"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
        </div>
<% include partials/fotter %>